	<% include ../partials/header %>
	<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%
					if(result_2){
							var image_src = result_2[0]["img_src"];
						}else
							var image_src = '../resources/img/helmet.jpg';
				  %>

				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id,
							 			but will display the player's name-->

										<%
										if (result_1) {
											var players = '';
											result_1.forEach(function(item){
												players += '<option value =' + item.id + '>' + item.name + '</option>';
											}); %>
											<%- players %>
											<% } %>

						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<th>Year</th>
							<td><%= result_2 ? result_2[0]["year"] : "Player Year" %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%= result_2 ? result_2[0]["major"] : "Player Major" %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%= result_3 ? result_3[0] : "Games Played" %></td>
						</tr>
						<tr>
							<td>Passing Yards: </td>
							<td><%= result_2 ? (result_2[0]["passing_yards"]/result_3[0]): "Avg. Passing Yards:" %></td>
						</tr>
						<tr>
							<td>Rushing Yards: </td>
							<td><%= result_2 ? (result_2[0]["rushing_yards"]/result_3[0]): "Avg. Rushing Yards:" %></td>
						</tr>
						<tr>
							<td>Receiving Yards: </td>
							<td><%= result_2 ? (result_2[0]["receiving_yards"]/result_3[0]): "Avg. Receiving Yards:" %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<% include ../partials/footer %>
